{% extends 'base.html' %} {% block content %}

<!-- <h3 class="mt-5">In Dashboard Page</h3> -->
{% if is_superuser %}
<div class="col-mt-5 mt-2">
    <a href="{% url 'new_task' %}">
        <button class="btn btn-success">Add Task</button>
    </a>
</div>
{% endif %}


<div class="col md 8 mt-2">
    <table class="table table-dark">
        <tr>
            <th>Task Name</th>
            <th>Task Detail</th>
            {% if is_superuser %}
            <th>Update</th>
            <th>Delete</th>
            {% endif %}
        </tr>
        {% for i in data %}
        <tr>
            <td>{{i.name}}</td>
            <td>{{i.detail}}</td>
            {% if is_superuser %}
            <td><a href="/update/{{i.id}}"><button class="btn btn-warning" >Update</button></a></td>
            <td><a href="/delete/{{i.id}}"><button class="btn btn-danger" >Delete</button></a></td>
            {% endif %}

        </tr>
        {% endfor %}

    </table>
</div>
{% endblock content %}