{% extends 'base.html' %}{% load static %} {% block content %}

<div class="col-lg-6 mx-auto shadow p-0 mt-3">
    <div class="alert alert-danger">
        <h2 class="text-center">User Signup</h2>

    </div>
    <div class="p-1 tsk">
        <form method="POST" action="{% url 'user_signup' %}">
            {% csrf_token %}

            <div class="p-2 container">
                {{form}}


                <br><input type="submit" value="login" class="btn btn-primary">

            </div>




        </form>
    </div>

</div>


{% endblock content %}